body {
	display: flex;
	flex-direction: column;
}

main {
	all: unset;
	height: 100%;

	&:has(.pets_page) .pets_page {
		flex-direction: column;

		& h1 {
			margin: 24px 0;
		}
	}

	&:has(.register_pets_page) .register_pets_page {
		flex-direction: column;

		& h1 {
			margin: 24px 0;
		}
	}
}

header:has(.pets_page) {
	&::after {
		content: '';
		height: 3px;
		width: 100%;
		position: absolute;
	}
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
	position: relative;
}

.logo {
	display: flex;
	align-items: center;
	gap: 12px;
	position: relative;
	min-width: max-content;

	& img {
		width: 126px;
		height: auto;
		user-select: none;
	}

	& p {
		text-transform: uppercase;
		user-select: none;
		font-size: 2rem;
		font-weight: bold;
	}

	&::after {
		content: '';
		height: 60%;
		width: 3px;
		position: absolute;
		right: -16px;
	}
}

.navigation {
	width: 60%;
	height: 100%;
	display: flex;
	align-items: center;

	& nav {
		width: 100%;
		display: flex;
		align-items: center;

		& ul {
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: flex-end;
			gap: 32px;

			& li {
				padding: 14px 56px;

				& svg {
					width: 50px;
					height: auto;
				}
			}
		}
	}
}

.profile-user-photo {
	margin-left: 56px;
}

.presentation {
	width: 80%;
	height: max-content;
	display: flex;
	justify-content: space-between;
	margin-bottom: 96px;
}

.description {
	width: 40%;
	min-width: 40%;
	display: flex;
	flex-direction: column;
	margin-left: 96px;
	gap: 56px;
}

.texts {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.buttons {
	display: flex;
	justify-content: space-between;
	width: 80%;

	& button {
		padding: 16px 42px;
	}
}

.elements {
	width: 100%;
	position: relative;

	& img {
		height: 180% !important;
		width: auto !important;
		position: absolute;
		top: -132px;
		left: 20%;
	}
}

.paws_icon {
	width: 100px;
	height: auto;

	&:nth-last-of-type(1) {
		position: absolute;
		right: 124px;
		top: 0;
	}

	&:nth-last-of-type(2) {
		position: absolute;
		left: 124px;
		bottom: 24px;
	}
}

.input-container {
	width: 100%;
	padding: 16px;
	margin-left: 12px;
	position: relative;

	& svg {
		position: absolute;
		right: 36px;
		top: 31px;
	}
}

#pets {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}

.pet {
	width: 280px;
	height: 380px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	padding: 16px 8px 24px;

	& img {
		width: 80%;
		height: 80%;
		object-fit: cover;
	}

	& button {
		padding: 16px 24px;
	}
}

.form {
	width: 90%;
	height: 90%;
}

#register_pet {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.primary_info {
	height: 100%;
	width: 40%;
	min-width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 182px;
	gap: 16px;
	padding: 24px;
}

.secondary_info {
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 24px;
	padding: 24px;
}

.preview {
	min-width: 250px;
	min-height: 250px;
	max-width: 250px;
	max-height: 250px;
}

.preview-label {
	& svg {
		width: 92px;
		height: auto;
	}
}

.present_preview {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 16px;
}

.register_pet_input {
	padding: 12px;
	width: 100%;

	&#desc {
		height: 120px;
	}
}

.container_input {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

.drops {
	width: 100%;
	display: flex;
	gap: 12px;
}

.options {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

#send_register_pet {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	cursor: pointer;
	min-height: 112px;
	width: 80%;
	margin: auto;

	& svg {
		height: 50px;
	}
}

input#search-pet {
	width: 100%;
	padding: 16px;
}

input[type='file'] {
	display: none;
}
